<header class="header">
	<div class="header__top top-header">
		<div class="top-header__container">
			<nav class="top-header__menu menu-top-header">
				<ul data-da=".menu__body, 991.98" class="menu-top-header__list">
					<li class="menu-top-header__item menu-top-header__item_catalog"><a href="" class="menu-top-header__link menu-top-header__link_catalog _icon-arrow-buttom">Каталог товаров</a></li>
					<li class="menu-top-header__item"><a href="home.html" class="menu-top-header__link">О нас</a></li>
					<li class="menu-top-header__item"><a href="home.html" class="menu-top-header__link">Оплата и доставка</a></li>
					<li class="menu-top-header__item"><a href="home.html" class="menu-top-header__link">Новости</a></li>
					<li class="menu-top-header__item"><a href="home.html" class="menu-top-header__link">Контакты</a></li>
				</ul>
			</nav>
			<a href="#" class="top-header__user _icon-user" data-static><span>Вступай в наши ряды!</span></a>
			<a th:href="@{/authentication/login}" class="top-header__user _icon-user" sec:authorize="!isAuthenticated()" data-thymeleaf>
				<span>Вступай в наши ряды!</span></a>
			<a th:href="@{/logout}" class="top-header__user _icon-user" sec:authorize="isAuthenticated()" data-thymeleaf>
				<span>Выйти из личного кабинета</span></a>	
			<nav hidden class="menu">
				<button type="button" class="menu__icon icon-menu"><span></span></button>
				<div class="menu__body"></div>
			</nav>
		</div>
	</div>

	<!-- Шапка брендинга (название, логотипы, оформление заказа, поисковая строка, заказ звонка) -->
	<div class="header__body body-header">
		<div class="body-header1__container">
			<div class="logo-left"><figure><a href="home.html"><img class="logo" src="img\header\logo1.png"></a></figure></div>
			<a href="home"><div class="heading">The Witcher Shop</div></a>
			<div class="logo-right"><figure><a href="home.html"><img class="logo1" src="img\header\logo2.png"></a></figure></div>
		</div>
		<div class="body-header__container">
				<a href="" data-da=".top-header__container, 991.98, 2" class="actions-header__cart cart-header">
					<div class="cart-header__icon _icon-cart"><span>0</span></div>
					<div class="cart-header__body">
						<div class="cart-header__summ">0 р.</div>
						<div href="" class="cart-header__link">Оформить заказ</div>
					</div>
				</a>
			<div class="body-header__search">
				<form action="#" class="search-header">
					<button type="submit" class="search-header__button _icon-search"></button>
					<input autocomplete="off" type="text" name="form[]" data-error="Ошибка" placeholder="Поиск" class="search-header__input">
				</form>
			</div>
			<div class="body-header__actions actions-header">
				<a href="" data-da=".top-header__container, 991.98, 2" class="actions-header__favorite _icon-favorite"></a>
				<div data-da=".top-header__container, 991.98, first" class="actions-header__phones phones-header">
					<div data-spollers class="phones-header__items">
						<div class="phones-header__item">
							<a href="tel:88007774967" class="phones-header__phone"><span>8-800-777-49-67</span></a>
							<button type="button" data-spoller class="phones-header__arrow _icon-arrow-buttom"></button>
							<ul class="phones-header__list">
								<li><a href="tel:88007774968" class="phones-header__phone">8-800-777-49-68</a></li>
								<li><a href="tel:88007774969" class="phones-header__phone">8-800-777-49-69</a></li>
								<li><a href="tel:88007774970" class="phones-header__phone">8-800-777-49-70</a></li>
							</ul>
						</div>
					</div>
					<button type="button" data-popup="#callback" class="phones-header__callback">Заказать звонок</button>
				</div>
			</div>
		</div>
	</div>


	<div class="page__three-cards three-cards">
		<div class="three-cards__container">
			<div class="three-cards__items">
				<div class="three-cards__item item-card">
					<a href="#main_catalog" class="item-card__image-ibg">
						<img src="img\header\card1.jpg" alt="Картинка">
					</a>
					<div class="item-card__text">
						<h4 class="item-card__title">Книги</h4>
					</div>
				</div>
				<div class="three-cards__item item-card">
					<a href="#main_catalog" class="item-card__image-ibg">
						<img src="img\header\card2.jpg" alt="Картинка">
					</a>
					<div class="item-card__text">
						<h4 class="item-card__title">Аксессуары</h4>
					</div>
				</div>
				<div class="three-cards__item item-card">
					<a href="#main_catalog" class="item-card__image-ibg">
						<img src="img\header\card3.jpg" alt="Картинка">
					</a>
					<div class="item-card__text">
						<h4 class="item-card__title">Мерч</h4>
					</div>
				</div>
			</div>
		</div>
	</div>	
	<div class="header__catalog catalog-header">
		<div class="catalog-header__container">
			<nav class="catalog-header__menu menu-catalog">
				<button type="button" class="menu-catalog__back _icon-back">Назад</button>
				<ul class="menu-catalog__list">
					<li class="menu-catalog__item"><button data-parent="1" class="menu-catalog__link">Книжная лавка</button></li>
					<li class="menu-catalog__item"><button data-parent="2" class="menu-catalog__link">Клинки и&nbsp;ножи</button></li>
					<li class="menu-catalog__item"><button data-parent="3" class="menu-catalog__link">Фигурки и сувениры</button></li>
					<li class="menu-catalog__item"><button data-parent="4" class="menu-catalog__link">Настольные игры</button></li>
					<li class="menu-catalog__item"><button data-parent="5" class="menu-catalog__link">Одежда и&nbsp;обувь</button></li>
					<li class="menu-catalog__item"><button data-parent="6" class="menu-catalog__link">Прочие товары</button></li>
				</ul>
				<div class="menu-catalog__sub-menu sub-menu-catalog">
					<button type="button" class="sub-menu-catalog__back _icon-back">Назад</button>
					<div class="sub-menu-catalog__container">
						<div hidden data-submenu="1" class="sub-menu-catalog__block">
							<div class="sub-menu-catalog__category">
								<a href="catalog.html" class="sub-menu-catalog__link-category">Основная серия</a>
							</div>
							<div class="sub-menu-catalog__category">
								<a href="catalog.html" class="sub-menu-catalog__link-category">Справочники</a>
							</div>
							<div class="sub-menu-catalog__category">
								<a href="catalog.html" class="sub-menu-catalog__link-category">Дополнительная литература</a>
							</div>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Последнее желание</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Меч Предназначения</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Кровь эльфов</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Час Презрения</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Крещение огнём</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Башня Ласточки</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Владычица Озера</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Сезон гроз</a></li>
							</ul>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Справочники по серии игр&nbsp;«The&nbsp;Witcher»</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Бестиарии</a></li>
								
							</ul>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Дорога без возврата</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Что-то кончается,<br/>что-то&nbsp;начинается</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Статьи Анджея Сапковского</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Другие авторы</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Комиксы</a></li>
							</ul>
							<div class="sub-menu-catalog__footer">
								<a href="catalog.html" class="sub-menu-catalog__all">Смотреть все</a>
							</div>
							<div class="sub-menu-catalog__footer">
								<a href="catalog.html" class="sub-menu-catalog__all">Смотреть все</a>
							</div>
							<div class="sub-menu-catalog__footer">
								<a href="catalog.html" class="sub-menu-catalog__all">Смотреть все</a>
							</div>
						</div>
						<div hidden data-submenu="2" class="sub-menu-catalog__block">
							<div class="sub-menu-catalog__category">
								<a href="catalog.html" class="sub-menu-catalog__link-category">Категория оружия</a>
							</div>
							<div class="sub-menu-catalog__category">
								<a href="catalog.html" class="sub-menu-catalog__link-category">Производство</a>
							</div>
							<div class="sub-menu-catalog__category">
								<a href="catalog.html" class="sub-menu-catalog__link-category">Мастерская</a>
							</div>
							<div class="sub-menu-catalog__category">
								<a href="catalog.html" class="sub-menu-catalog__link-category">Заточка и полировка клинков</a>
							</div>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Мечи</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Клинки</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Сабли</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Боевые ножи</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Разделочные ножи</a></li>
							</ul>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Slmogu</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Bsmith</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Булат Ивана Андреева</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Мастерская Ётуна</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Кузница Кузнецова</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Мастерская Дмитрия Андреева</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Kaer Morhen forge</a></li>
							</ul>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Заготовки для клинков</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Материалы для рукоятей</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Уход за рукоятями</a></li>
							</ul>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Алмазная паста</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Паста ГОИ</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Бруски и точильные камни</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Заточные системы</a></li>
							</ul>
							<div class="sub-menu-catalog__footer">
								<a href="catalog.html" class="sub-menu-catalog__all">Смотреть все</a>
							</div>
							<div class="sub-menu-catalog__footer">
								<a href="catalog.html" class="sub-menu-catalog__all">Смотреть все</a>
							</div>
							<div class="sub-menu-catalog__footer">
								<a href="catalog.html" class="sub-menu-catalog__all">Смотреть все</a>
							</div>
							<div class="sub-menu-catalog__footer">
								<a href="catalog.html" class="sub-menu-catalog__all">Смотреть все</a>
							</div>
						</div>
						<div hidden data-submenu="3" class="sub-menu-catalog__block">
							<div class="sub-menu-catalog__category">
								<a href="catalog.html" class="sub-menu-catalog__link-category">Коллекционные фигурки</a>
							</div>
							<div class="sub-menu-catalog__category">
								<a href="catalog.html" class="sub-menu-catalog__link-category">Медальоны и подвески</a>
							</div>
							<div class="sub-menu-catalog__category">
								<a href="catalog.html" class="sub-menu-catalog__link-category">Интерьер</a>
							</div>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Металлические статуэтки</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Уникальные фигурки от&nbsp;CD&nbsp;Projekt&nbsp;RED</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Нендроиды</a></li>
							</ul>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Медальоны всех<br/> ведьмачих&nbsp;школ</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Подвески</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Кулоны</a></li>
							</ul>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Картины и постеры</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Плакаты и наклейки</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Магниты</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Флаги</a></li>
							</ul>
							<div class="sub-menu-catalog__footer">
								<a href="catalog.html" class="sub-menu-catalog__all">Смотреть все</a>
							</div>
							<div class="sub-menu-catalog__footer">
								<a href="catalog.html" class="sub-menu-catalog__all">Смотреть все</a>
							</div>
							<div class="sub-menu-catalog__footer">
								<a href="catalog.html" class="sub-menu-catalog__all">Смотреть все</a>
							</div>
						</div>
						<div hidden data-submenu="4" class="sub-menu-catalog__block">
							<div class="sub-menu-catalog__category">
								<a href="catalog.html" class="sub-menu-catalog__link-category">Классические</a>
							</div>
							<div class="sub-menu-catalog__category">
								<a href="catalog.html" class="sub-menu-catalog__link-category">Карточные</a>
							</div>
							<div class="sub-menu-catalog__category">
								<a href="catalog.html" class="sub-menu-catalog__link-category">Стратегические</a>
							</div>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Домино</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Шашки</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Шахматы</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Нарды</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Маджонг</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Русское лото</a></li>
							</ul>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Карточные колоды</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Гвинт</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Покер</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Уно</a></li>
							</ul>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Ведьмак: Старый Мир</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Hobby World Ведьмак НРИ</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Сyberpunk Red</a></li>
							</ul>
							<div class="sub-menu-catalog__footer">
								<a href="catalog.html" class="sub-menu-catalog__all">Смотреть все</a>
							</div>
							<div class="sub-menu-catalog__footer">
								<a href="catalog.html" class="sub-menu-catalog__all">Смотреть все</a>
							</div>
							<div class="sub-menu-catalog__footer">
								<a href="catalog.html" class="sub-menu-catalog__all">Смотреть все</a>
							</div>
						</div>
						<div hidden data-submenu="5" class="sub-menu-catalog__block">
							<div class="sub-menu-catalog__category">
								<a href="catalog.html" class="sub-menu-catalog__link-category">Одежда</a>
							</div>
							<div class="sub-menu-catalog__category">
								<a href="catalog.html" class="sub-menu-catalog__link-category">Обувь</a>
							</div>
							<div class="sub-menu-catalog__category">
								<a href="catalog.html" class="sub-menu-catalog__link-category">Аксессуары</a>
							</div>
							<div class="sub-menu-catalog__category">
								<a href="catalog.html" class="sub-menu-catalog__link-category">Головные уборы</a>
							</div>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Футболки и поло</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Толстовки и худи</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Куртки и пуховики</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Брюки и шорты</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Носки и гетры</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Нижнее белье</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Спортивные костюмы</a></li>
							</ul>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Ботинки</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Кроссовки</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Сандалии</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Мокасины</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Кеды</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Сланцы</a></li>
							</ul>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Часы</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Шарфы</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Рюкзаки</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Сумки</a></li>
							</ul>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Балаклавы</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Бейсболки</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Шапки</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Повязки</a></li>
							</ul>
							<div class="sub-menu-catalog__footer">
								<a href="catalog.html" class="sub-menu-catalog__all">Смотреть все</a>
							</div>
							<div class="sub-menu-catalog__footer">
								<a href="catalog.html" class="sub-menu-catalog__all">Смотреть все</a>
							</div>
							<div class="sub-menu-catalog__footer">
								<a href="catalog.html" class="sub-menu-catalog__all">Смотреть все</a>
							</div>
							<div class="sub-menu-catalog__footer">
								<a href="catalog.html" class="sub-menu-catalog__all">Смотреть все</a>
							</div>
						</div>
						<div hidden data-submenu="6" class="sub-menu-catalog__block">
							<div class="sub-menu-catalog__category">
								<a href="catalog.html" class="sub-menu-catalog__link-category">Кошельки</a>
							</div>
							<div class="sub-menu-catalog__category">
								<a href="catalog.html" class="sub-menu-catalog__link-category">Посуда</a>
							</div>
							<div class="sub-menu-catalog__category">
								<a href="catalog.html" class="sub-menu-catalog__link-category">Чехлы</a>
							</div>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Кошельки-клатчи</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Картхолдеры</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Портмоне</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Копилки</a></li>
							</ul>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Тарелки</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Кружки</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Термосы</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Фляги</a></li>
							</ul>
							<ul class="sub-menu-catalog__list">
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Для телефона</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Для планшета</a></li>
								<li class="sub-menu-catalog__item"><a href="catalog.html" class="sub-menu-catalog__link">Для ноутбука</a></li>
							</ul>
							<div class="sub-menu-catalog__footer">
								<a href="catalog.html" class="sub-menu-catalog__all">Смотреть все</a>
							</div>
							<div class="sub-menu-catalog__footer">
								<a href="catalog.html" class="sub-menu-catalog__all">Смотреть все</a>
							</div>
							<div class="sub-menu-catalog__footer">
								<a href="catalog.html" class="sub-menu-catalog__all">Смотреть все</a>
							</div>
						</div>
					</div>
				</div>
			</nav>
		</div>
	</div>
</header>